body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial sans-serif;
  font-weight: 300;
  color: #747704;
}

.text-thin {
  font-weight: 100;
}

.text-muted{
  color: #bcbbbb;
}

.text-wrap {
  word-wrap: break-word;
}

.header-margin{
  margin-top: 20px;
}

.pointer-hover {
  cursor: pointer;
}